.albumsContainer {
    padding-bottom: 20px;
}

.customNavLink {
    width: 100%;
    background: #17a2b8;
    color: #f8f9fa;
    font-size: 20px;
}

.customNavLink:hover {
    color: rgba(255, 255, 255, .5);
    background: #007bff;
}

.customNavItem {
    padding: 5px 0 !important;
    width: 100%;
}