.menu li {
    float: left;
}

.menu-link {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    background: #00b8ff;
    color: #01151d;
}

.menu-link:hover {
    background: #1e5569;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

ul {
    padding: 0;
}